body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.orange {
    color: orangered;
}

section {
    display: flex;
    margin-bottom: 100px;
}

.top-width {
    width: 50%;
    padding-left: 2%;
}

.top-width img {
    width: 80%;
    padding-left: 10%;

}

.Link-button {
    text-decoration: none;

    background-image: linear-gradient(orange, rgb(247, 66, 34));
    font-weight: 700;
    color: white;
    padding: 10px 40px;
    border-radius: 30px;

}

h1 {
    font-size: 50px;
    padding-left: 5%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-left: 5%;
}

.container {
    height: 100 vh;
    width: 80%;
    background-image: url(images/shapes/7.png);

    background-size: cover;

}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: gray;
}

.txt {
    text-align: center;
    text-align: justify;
    color: gray;
    margin: 5%;
}

.item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px gray;
}

.item2 {
    width: 90%;
    height: 15%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px gray
}

.img {
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    padding: 5px;
    padding-bottom: 5px;
    width: 550px;
}

.txt1 {
    text-align: center;
    padding-left: 5%;
    font-size: small;

}

.txt2 {
    text-align: center;
    padding-left: 20%;
    font-size: small;

}

.txt3 {
    text-align: center;
    padding-left: 25%;
    font-size: small;
}

footer {
    margin: 0;
    padding: 10%;
    padding-top: 10px;
    background-color: rgb(5, 1, 51);
    color: white;
    text-align: center;
    font-size: smaller;
}

.COLOR {
    color: orange;
}